<form id="editForm" name="editForm" class="layui-form"
	action="/product/demand/demandProductRateLadderEdit.html">
	<input type="hidden" name="id" th:value="${dprl}?${dprl.id}" />
	<div class="layui-form-item">
		<div class="layui-inline"></div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">产品名称</label>
		<div class="layui-input-inline">
			<select name="productId" lay-filter="productId">
				<option value="">请选择活期产品</option>
				<option th:each="item:${demandProducts}" th:value="${item.id}"
					th:text="${item.name}"
					th:selected="${dprl}ne null and ${dprl.productId==item.id}"></option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">规则类型</label>
		<div class="layui-input-inline">
			<select name="ladderType" lay-verify="required"
				lay-filter="ladderType">
				<option value="">请选择规则类型</option>
				<option value="0"
					th:selected="${dprl}ne null  and ${dprl.ladderType == 0}">持有时间</option>
				<option value="1"
					th:selected="${dprl}ne null  and ${dprl.ladderType == 1}">持有克重</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">持有期限（天）</label>
		<div class="layui-input-inline">
			<input type="text" name="ladderTerm"
				th:value="${dprl}?${dprl.ladderTerm}:''" class="layui-input"
				lay-verify="required" placeholder="请输持有期限" />
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">持有克重</label>
		<div class="layui-input-inline">
			<input type="text" name="ladderWeight"
				th:value="${dprl}?${dprl.ladderWeight}:''" class="layui-input"
				lay-verify="required" placeholder="请输持有克重" />
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">利率增加百分比</label>
		<div class="layui-input-inline">
			<input type="text" name="ladderRate"
				th:value="${dprl}?${dprl.ladderRate}:''" class="layui-input"
				lay-verify="required" placeholder="请输入利率增加百分比" />
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="addForm">保存</button>
			</div>
		</div>
	</div>
</form>
<script>
	layui.use([ 'jquery', 'form', 'laydate' ], function() {
		var form = layui.form, layer = layui.layer, laydate = layui.laydate;
		form.render();
		//监听提交
		form.on('submit(editForm)', function(data) {
			return true;
		});
	});
</script>
