<form id="editForm" name="editForm" class="layui-form productInfo"  action="/product/demand/demandProductEdit.html">
	<input type="hidden" name="id"  th:value="${prod}?${prod.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">		
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">		
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" id="name" name="name" th:value="${prod}?${prod.name}:''" class="layui-input" lay-verify="required" placeholder="请输入产品名称"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">产品编号</label>
			<div class="layui-input-inline">
				<input type="text" id="code" name="code" th:value="${prod}?${prod.code}:''" class="layui-input" lay-verify="required" placeholder="请输入产品编号"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品版本号</label>
			<div class="layui-input-inline">
				<input type="text" id="version" name="version" th:value="${prod}?${prod.version}:''" class="layui-input" lay-verify="required" placeholder="请输入产品版本号"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">活期利率(%)</label>
			<div class="layui-input-inline">
				<input type="text"  name="rate" th:value="${prod}?${prod.rate}:''" class="layui-input" lay-verify="required" placeholder="请输入活期利率"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">买入手续费(元)</label>
			<div class="layui-input-inline">
				<input type="text"  name="buyFee" th:value="${prod}?${prod.buyFee}:''" class="layui-input" lay-verify="required" placeholder="请输入买入手续费"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">卖出手续费(元)</label>
			<div class="layui-input-inline">
				<input type="text"  name="sellFee" th:value="${prod}?${prod.sellFee}:''" class="layui-input" lay-verify="required" placeholder="请输入卖出手续费"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">起购金额(元)</label>
			<div class="layui-input-inline">
				<input type="text"  name="minAmount" th:value="${prod}?${prod.minAmount}:''" class="layui-input" lay-verify="required" placeholder="请输入起购金额"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">起购克重(克)</label>
			<div class="layui-input-inline">
				<input type="text" name="minWeight" th:value="${prod}?${prod.minWeight}:''" class="layui-input" lay-verify="required" placeholder="请输入起购克重"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">最高买入金额(元)</label>
			<div class="layui-input-inline">
				<input type="text"  name="maxAmount" th:value="${prod}?${prod.maxAmount}:''" class="layui-input" lay-verify="required" placeholder="请输入最高买入金额"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">最高买入克重(克)</label>
			<div class="layui-input-inline">
				<input type="text"   name="maxWeight" th:value="${prod}?${prod.maxWeight}:''" class="layui-input" lay-verify="required" placeholder="最高买入克重"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">交易限量总金额(元)</label>
			<div class="layui-input-inline">
				<input type="text"  name="maxAmountTotal" th:value="${prod}?${prod.maxAmountTotal}:''" class="layui-input" lay-verify="required" placeholder="请输入交易限量总金额"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">交易限量总克重(克)</label>
			<div class="layui-input-inline">
				<input type="text"  name="maxWeightTotal" th:value="${prod}?${prod.maxWeightTotal}:''" class="layui-input" lay-verify="required" placeholder="请输入交易限量总克重"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品描叙</label>
			<div class="layui-input-inline">
				<textarea placeholder="请输入产品描叙" class="layui-textarea" id="description" name="description" th:text="${prod}?${prod.descriptionStr}:''" style="width: 513px;"></textarea>
			</div>
		</div>
	</div>
	 <div class="layui-form-item">
    	<div class="layui-inline">
			<label class="layui-form-label">修改人</label>
			<div class="layui-input-inline">
				<input type="text" id="updateBy" name="updateBy" th:value="${prod}?${prod.updateBy}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<input type="text" id="updateTime" name="updateTime" th:value="${prod}?(${prod.updateTime}?${#dates.format(prod.updateTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>
    
	   <div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">上架时间</label>
			<div class="layui-input-inline">
				<input type="text" id="publishTime" name="publishTime" th:value="${prod}?(${prod.publishTime}?${#dates.format(prod.publishTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">开售时间</label>
			<div class="layui-input-inline">
				<input type="text" id="sellBeginTime" name="sellBeginTime" th:value="${prod}?(${prod.sellBeginTime}?${#dates.format(prod.sellBeginTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">停售时间</label>
			<div class="layui-input-inline">
				<input type="text" id="sellEndTime" name="sellEndTime" th:value="${prod}?(${prod.sellEndTime}?${#dates.format(prod.sellEndTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">下架时间</label>
			<div class="layui-input-inline">
				<input type="text" id="removeTime" name="removeTime" th:value="${prod}?(${prod.removeTime}?${#dates.format(prod.removeTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>
</form>
<style>
	.productInfo .layui-form-label{width:140px;text-align: right;}
	.productInfo .layui-input,.productInfo .layui-textarea{border:none;background-color: #eee;}
</style>
