<form id="editForm" name="editForm" class="layui-form awardDetail">
	<input type="hidden" name="id"  th:value="${vo}?${vo.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">用户编号</label>
		<div class="layui-input-inline">
			<input type="text" name="expressCompany"  class="layui-input" disabled="" th:value="${vo.userName}" />
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">订单编号</label>
		<div class="layui-input-inline">
			<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${vo.userName}" />
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">克重</label>
		<div class="layui-input-inline">
			<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${vo.userName}" />
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">赠金原因</label>
		<div class="layui-input-inline">
			<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${vo.userName}" />
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">状态</label>
		<div class="layui-input-inline" th:switch="${vo.status}">
				<input type="text" name="" class="layui-input" disabled="" th:case="0" value="未收取"/>
				<input type="text" name="" class="layui-input" disabled="" th:case="1" value="已收取"/>
				<input type="text" name="" class="layui-input" disabled="" th:case="*" value="未知状态"/>
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">方式</label>
		<div class="layui-input-inline" th:switch="${vo.status}">
				<input type="text" name="" class="layui-input" disabled="" th:case="0" value="手动收取"/>
				<input type="text" name="" class="layui-input" disabled="" th:case="1" value="自动收取"/>
				<input type="text" name="" class="layui-input" disabled="" th:case="*" value="待收取"/>
			</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">收取时间</label>
		<div class="layui-input-inline">
			<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.harvestTime, 'yyyy-MM-dd HH:mm:ss')}"/>
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">修改时间</label>
		<div class="layui-input-inline">
			<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
		</div>
	</div>
	<div class="layui-inline">
		<label class="layui-form-label">创建时间</label>
		<div class="layui-input-inline">
			<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
		</div>
	</div>
</form>
<style>
	#editForm .layui-inline{
		margin-bottom:10px;
	}
	#editForm .layui-form-label{
		width:120px;
	}
	.awardDetail .layui-input{border:none;background-color: #eee;}
</style>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,button = layui.button;

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});
	});
</script>
