<form id="auditForm" name="auditForm" class="layui-form" action="/recycle/auditRecycleOrder.html">
    <input type="hidden" id="auditId" name="auditId" th:value="${data}?${data.id}:''"/>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">检测结果</label>
			<div class="layui-input-inline">
				<input type="radio" name="auditResult" value="0" checked="checked" title="通过"> 
				<input type="radio" name="auditResult" value="1" title="不通过">
			</div>
		</div>
	</div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">审核说明</label>
            <div class="layui-input-inline">
                <!--<input  type="text" id="auditRemark"  name="auditRemark" class="layui-input" th:value="${data}?${data.auditRemark}:''" placeholder="审核说明"/>-->
                <textarea placeholder="请输入审核说明" class="layui-textarea" id="auditRemark" name="auditRemark"
                          th:text="${data}?${data.auditRemark}:''" style="width: 513px;"></textarea>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="auditForm">提交审核</button>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(['jquery', 'form', 'laydate'], function () {
        var $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#verifyTime',
            type: 'datetime'
        });
        //监听提交
        form.on('submit(auditForm)', function (data) {
            var data = data.field;
            $.post('auditRecycleOrder.html', data, function (result) {
            	  var jsonData = JSON.parse(result);
	                layer.closeAll();
	                if (jsonData.code > 0) {
	                    layer.alert(jsonData.msg, {
	                        title: '处理结果',
	                        content: jsonData.msg
	                    })
	                } else {
	                	layer.open({
                          title: '处理结果',
                          content: jsonData.msg,
                          yes: function () {
                        	   location.reload();
	                      },
  	                   	 cancel: function () {
  	                   	   location.reload();
	                     }
                      });
	                }
            });
            return false;
        });

        form.on('switch(auditResultFilter)', function (data) {
            if (data.elem.checked) {
                $("#auditResult").val(0);
            } else {
                $("#auditResult").val(1);
            }
        });
        form.render();
    });

</script>
