   <form id="editForm" name="editForm" class="layui-form fixedToDemandDetail">
	<input type="hidden" name="id"  th:value="${mcp}?${mcp.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">用户编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressCompany"  class="layui-input" lay-verify="required" id="expressCompany" disabled=""/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">订单编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled=""/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">定期产品名称</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled=""/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">活期产品名称</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled=""/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">转入本金克重</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled=""/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">转入利息克重</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled=""/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled=""/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" />
			</div>
		</div>
	</div>
</form>
<style>
    .fixedToDemandDetail .layui-form-label{width:140px;text-align: right;}
	.fixedToDemandDetail .layui-input{border:none;background-color:#eee;}
</style>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,button = layui.button;

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});
	});
</script>
