<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>APP版本列表</title>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/news.css}" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
	<form id="searchForm" name="searchForm" class="layui-form" action="/sys/systemVersion.html">
		<input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}"/>
		  <div class="layui-form-item">
			<label class="layui-form-label">版本编号:</label>
		    <div class="layui-input-inline">
		    	 <input  type="text" class="layui-input" name="code"  th:value="${systemVersion}?${systemVersion.code}"/>
		    </div>
			<label class="layui-form-label">版本名称:</label>
		    <div class="layui-input-inline">
		    	 <input  type="text" class="layui-input" name="name"  th:value="${systemVersion}?${systemVersion.name}"/>
		    </div>
		    <button class="layui-btn search_btn">查询</button>
            <a class="layui-btn layui-btn-normal newsAdd_btn" id="add"><i class="layui-icon">&#xe608;</i>添加</a>
         </div>
	</form>
	</blockquote>
	<div class="layui-form news_list">
	  	<table class="layui-table">
		    <colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
		    </colgroup>
		    <thead>
				<tr>
					<th>编号</th>
					<th>名称</th>
					<th>下载地址</th>
					<th>介绍</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="news_content">
		  	  <th:block th:if="${not #lists.isEmpty(page.list)}">
			    	<tr th:each="item:${page.list}">
				    	<td  th:text="${item.code}"></td>
				    	<td  th:text="${item.name}"></td>
				    	<td  th:text="${item.resourceUrl}"></td>
				    	<td  th:text="${item.description}"></td>
				    	<td  th:text="${#dates.format(item.releaseTime,'yyyy-MM-dd HH:mm:ss')}"></td>
				    	<td>
					    	<a th:data="${item.id}"  class="layui-btn layui-btn-mini version_edit">编辑</a>
						</td>
					</tr>
				</th:block>
		    </tbody>
		</table>
	</div>
	<div id="paged" align="right"></div>
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
	</body>
	<script th:inline="javascript">
         layui.use('laypage', function(){
        	  var laypage = layui.laypage;
        	  //执行一个laypage实例
        	  laypage.render({
        	    elem: 'paged', //注意，这里的 test1 是 ID，不用加 # 号
        	    curr: [[${page.pageNum}]],
        	    count: [[${page.total}]], //数据总数，从服务端得到
        	    layout: ['count', 'prev', 'page', 'next'],
                jump: function(obj, first){
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    $("#pageNum").val(curr);
                    if(!first) {
                        $("#searchForm").submit();
					}
                }
        	  });
        	});
        
        layui.use('layer', function(){
            var layer = layui.layer,$=layui.jquery;
            
            //查看
            $(".version_view").bind("click",function() {
                var id = $(this).attr("data");
                //Ajax获取
            	form_html(id,'查看APP版本信息');
            }); 

            //编辑
            $(".version_edit").bind("click",function() {
                var id = $(this).attr("data");
                //Ajax获取
            	form_html(id,'编辑APP版本信息');
            });
            
            //删除
            $(".version_del").bind("click",function() {
                var id = $(this).attr("data");
                layer.confirm('确定要删除吗?', {icon: 3, title:'提示'}, function(index){
                    	$.post('dictionaryDel', {id:id}, function(data){
                    		if(data == 'succ'){
                    			layer.msg("删除成功")
                    		    $("#searchForm").submit();
                    		}else{
                    			layer.msg("删除失败")
                    		}
                    	}); 
                });
            });

            /**
			 * 添加
             */
            $("#add").bind("click",function() {
            	//Ajax获取
            	form_html("",'添加APP版本信息');
            });
            
             function form_html(id,title){
              	$.post('systemVersionAdd.html', {id:id}, function(data){
            	  	layer.open({
            	  	  type: 1,
              		  title: title
              		  ,area: ['600px', '500px']
              		  ,shade: 0
              		  ,content: data
           			  ,yes: function(index, layero){
           				  layer.close(index);
           				}
              		}); 
            	}); 
            };
        });
        
         layui.use('laydate', function(){
        	  var laydate = layui.laydate;
        	  //执行一个laydate实例
        	  laydate.render({
        	    elem: '#startTime' //指定元素
                ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
        	  });
        	  //执行一个laydate实例
        	  laydate.render({
        	    elem: '#endTime' //指定元素
                ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
        	  });
        	});
	</script>
</html>