<form class="layui-form viewfixedOrderDetail">
    <div class="layui-form-item">
        <div class="layui-inline">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">订单编号</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.code}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.userName}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">产品名称</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.fixedProductName}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">交易克重</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.weight}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">交易金价</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.price}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">最高买入价</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.acceptMaxBuyPrice}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">交易总金额</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.amount}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手续费</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.fee}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-top:0">余额支付<br>金额</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.balancePayAmount}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-top:0">现金支付<br>金额</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.instancePayAmount}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="padding-top:0">优惠券抵扣<br>金额</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.couponsPayAmount}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
           <div class="layui-input-inline" th:switch="${vo.status}">
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="0" value="处理中"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="1" value="成功"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="2" value="失败"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="*" value="未知状态"/>
			</div>
        </div>
       <div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
			</div>
		</div>
    </div>
</form>
<style>
    .viewfixedOrderDetail .layui-form-label{width:140px;text-align: right;}
    .viewfixedOrderDetail input{border:none;background-color: #eee;}
</style>