<form id="editForm" name="editForm" class="layui-form"  action="/order/physical/sendGoods.html">
	<input type="hidden" name="id"  th:value="${mcp}?${mcp.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">用户编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressCompany"  class="layui-input" lay-verify="required" placeholder="用户编号" id="expressCompany"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">订单编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="订单编号"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="产品名称"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">数量</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="数量"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">总克重</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="总克重"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">实时金价</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="实时金价"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">总金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="总金额"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">证件照</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="证件照"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">工费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="工费"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">快递费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="快递费"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">证书费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="证书费"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">保险费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="保险费"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">余额支付金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="余额支付金额"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">现金支付金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="现金支付金额"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">优惠券抵扣金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="优惠券抵扣金额"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">发票ID</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="发票ID"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品状态:</label>
			<div class="layui-input-inline">
				<select name="checkStatus" id="checkStatus" lay-filter="statusFilter" th:value="${checkStatus}">
					<option value="">请选择查询订单状态</option>
					<option value="0">处理中</option>
					<option value="1">付款成功</option>
					<option value="2">付款失败</option>
					<option value="3">已发货</option>
					<option value="4">已签收</option>
				</select>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">快递公司</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="快递公司"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">快递单号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="快递单号"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="修改时间"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="创建时间"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">审核人</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="审核人"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">审核时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="审核时间"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">审核说明</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="审核说明"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" placeholder="备注"/>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" id="confirm" lay-submit="" lay-filter="editForm">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
	    </div>
	</div>
</form>
<style>
	#editForm .layui-inline{
		margin-bottom:10px;
	}
	#editForm .layui-form-label{
		width:120px;
	}
</style>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,button = layui.button;
				form.render();

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});
	});
</script>
