   <form id="editForm" name="editForm" class="layui-form demandSellDetail">
	<input type="hidden" name="id"  th:value="${vo}?${vo.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">用户编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressCompany"  class="layui-input" lay-verify="required" id="expressCompany" disabled="" th:value="${vo.userName}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">订单编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.code}"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<!-- <div class="layui-inline">
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.productId}"/>
			</div>
		</div> -->
		<div class="layui-inline">
			<label class="layui-form-label">交易克重</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.weight}"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">交易金价</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.price}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">最低卖出价</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.acceptMinSellPrice}"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">交易总金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.amount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">手续费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.fee}"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<!-- <div class="layui-inline">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.userName}"/>
			</div>
		</div> -->
		<div class="layui-inline">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-inline">
				<th:block th:if="${not #strings.isEmpty(vo.createTime)}">
			 		<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                </th:block>
                <th:block th:if="${#strings.isEmpty(vo.createTime)}">
			 		<input type="text" value="" class="layui-input" disabled="">
                </th:block>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<th:block th:if="${not #strings.isEmpty(vo.updateTime)}">
			 		<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                </th:block>
                <th:block th:if="${#strings.isEmpty(vo.updateTime)}">
			 		<input type="text" value="" class="layui-input" disabled="">
                </th:block>
			</div>
		</div>
	</div>
	<!-- <div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled=""  th:value="${vo.userName}"/>
			</div>
		</div>
	</div> -->
</form>
<style>
    .demandSellDetail .layui-form-label{width:140px;text-align: right;}
	.demandSellDetail .layui-input{border:none;background-color:#eee;}
</style>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,button = layui.button;

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});
	});
</script>
