<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all" />
<link rel="stylesheet" type="text/css" th:href="@{/css/news.css}" media="all" />
<style>
	#editForm .layui-inline{
		margin-bottom:10px;
	}
	#editForm .layui-form-label{
		width:120px;
	}
</style>
</head>
<body>
   <form id="editForm" name="editForm" class="layui-form">
	<input type="hidden" name="id"  th:value="${mcp}?${mcp.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
		<div class="layui-inline">
			<label class="layui-form-label">用户</label>
			<div class="layui-input-inline">
				<input type="text" name="expressCompany"  class="layui-input" lay-verify="required" id="expressCompany" disabled="" th:value="${vo.userName}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">订单编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.code}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">定期订单号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.fixedOrderCode}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">定期产品</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.fixedProductName}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">活期产品</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.demandProductName}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">本金克重</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.baseWeight}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">利息克重</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" lay-verify="required" id="expressNo" disabled="" th:value="${vo.extraWeight}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
			</div>
		</div>
</form>
</body>
</html>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,button = layui.button;

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});
	});
</script>
