<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjgj.aiyoujin.core.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.hjgj.aiyoujin.core.model.Order" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="buy_amount" property="buyAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sell_amount" property="sellAmount" jdbcType="DECIMAL" />
    <result column="express_company" property="expressCompany" jdbcType="VARCHAR" />
    <result column="express_no" property="expressNo" jdbcType="VARCHAR" />
    <result column="source_order_id" property="sourceOrderId" jdbcType="VARCHAR" />
    <result column="from_order_id" property="fromOrderId" jdbcType="VARCHAR" />
    <result column="to_order_id" property="toOrderId" jdbcType="VARCHAR" />
    <result column="express_fee" property="expressFee" jdbcType="DECIMAL" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, user_id, product_id, buy_amount, status, deleted, reason, create_time,
    update_time, sell_amount, express_company, express_no, source_order_id, from_order_id,
    to_order_id, express_fee, address
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hjgj.aiyoujin.core.model.OrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitRows != null and limitRows>0" >
      limit #{limitOffset} , #{limitRows}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hjgj.aiyoujin.core.model.OrderExample" >
    delete from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hjgj.aiyoujin.core.model.Order" >
    insert into t_order (id, code, user_id,
      product_id, buy_amount, status,
      deleted, reason, create_time,
      update_time, sell_amount, express_company,
      express_no, source_order_id, from_order_id,
      to_order_id, express_fee, address
      )
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      #{productId,jdbcType=VARCHAR}, #{buyAmount,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER},
      #{deleted,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{sellAmount,jdbcType=DECIMAL}, #{expressCompany,jdbcType=VARCHAR},
      #{expressNo,jdbcType=VARCHAR}, #{sourceOrderId,jdbcType=VARCHAR}, #{fromOrderId,jdbcType=VARCHAR},
      #{toOrderId,jdbcType=VARCHAR}, #{expressFee,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hjgj.aiyoujin.core.model.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="buyAmount != null" >
        buy_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="sellAmount != null" >
        sell_amount,
      </if>
      <if test="expressCompany != null" >
        express_company,
      </if>
      <if test="expressNo != null" >
        express_no,
      </if>
      <if test="sourceOrderId != null" >
        source_order_id,
      </if>
      <if test="fromOrderId != null" >
        from_order_id,
      </if>
      <if test="toOrderId != null" >
        to_order_id,
      </if>
      <if test="expressFee != null" >
        express_fee,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="buyAmount != null" >
        #{buyAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellAmount != null" >
        #{sellAmount,jdbcType=DECIMAL},
      </if>
      <if test="expressCompany != null" >
        #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null" >
        #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceOrderId != null" >
        #{sourceOrderId,jdbcType=VARCHAR},
      </if>
      <if test="fromOrderId != null" >
        #{fromOrderId,jdbcType=VARCHAR},
      </if>
      <if test="toOrderId != null" >
        #{toOrderId,jdbcType=VARCHAR},
      </if>
      <if test="expressFee != null" >
        #{expressFee,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hjgj.aiyoujin.core.model.OrderExample" resultType="java.lang.Integer" >
    select count(*) from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.buyAmount != null" >
        buy_amount = #{record.buyAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sellAmount != null" >
        sell_amount = #{record.sellAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.expressCompany != null" >
        express_company = #{record.expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.expressNo != null" >
        express_no = #{record.expressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceOrderId != null" >
        source_order_id = #{record.sourceOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromOrderId != null" >
        from_order_id = #{record.fromOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.toOrderId != null" >
        to_order_id = #{record.toOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.expressFee != null" >
        express_fee = #{record.expressFee,jdbcType=DECIMAL},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order
    set id = #{record.id,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      product_id = #{record.productId,jdbcType=VARCHAR},
      buy_amount = #{record.buyAmount,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER},
      deleted = #{record.deleted,jdbcType=INTEGER},
      reason = #{record.reason,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sell_amount = #{record.sellAmount,jdbcType=DECIMAL},
      express_company = #{record.expressCompany,jdbcType=VARCHAR},
      express_no = #{record.expressNo,jdbcType=VARCHAR},
      source_order_id = #{record.sourceOrderId,jdbcType=VARCHAR},
      from_order_id = #{record.fromOrderId,jdbcType=VARCHAR},
      to_order_id = #{record.toOrderId,jdbcType=VARCHAR},
      express_fee = #{record.expressFee,jdbcType=DECIMAL},
      address = #{record.address,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjgj.aiyoujin.core.model.Order" >
    update t_order
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="buyAmount != null" >
        buy_amount = #{buyAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellAmount != null" >
        sell_amount = #{sellAmount,jdbcType=DECIMAL},
      </if>
      <if test="expressCompany != null" >
        express_company = #{expressCompany,jdbcType=VARCHAR},
      </if>
      <if test="expressNo != null" >
        express_no = #{expressNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceOrderId != null" >
        source_order_id = #{sourceOrderId,jdbcType=VARCHAR},
      </if>
      <if test="fromOrderId != null" >
        from_order_id = #{fromOrderId,jdbcType=VARCHAR},
      </if>
      <if test="toOrderId != null" >
        to_order_id = #{toOrderId,jdbcType=VARCHAR},
      </if>
      <if test="expressFee != null" >
        express_fee = #{expressFee,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjgj.aiyoujin.core.model.Order" >
    update t_order
    set code = #{code,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      buy_amount = #{buyAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sell_amount = #{sellAmount,jdbcType=DECIMAL},
      express_company = #{expressCompany,jdbcType=VARCHAR},
      express_no = #{expressNo,jdbcType=VARCHAR},
      source_order_id = #{sourceOrderId,jdbcType=VARCHAR},
      from_order_id = #{fromOrderId,jdbcType=VARCHAR},
      to_order_id = #{toOrderId,jdbcType=VARCHAR},
      express_fee = #{expressFee,jdbcType=DECIMAL},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectOneByExample" resultMap="BaseResultMap" parameterType="com.hjgj.aiyoujin.core.model.OrderExample" >
    select <include refid="Base_Column_List" /> from t_order <if test="_parameter != null" >  <include refid="Example_Where_Clause" /> </if> <if test="orderByClause != null" >  order by ${orderByClause} </if>  limit 1
  </select>


	<!-- TODO 支付后更新订单状态 -->
	<update id="updateOrderByCodeState">
		UPDATE t_order SET `status` = #{orderState,jdbcType=INTEGER} where code = #{orderNo,jdbcType=VARCHAR}
	</update>

	<update id="updateOrderByMap" parameterType="map">
		UPDATE t_order
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="buyAmount != null">
				buy_amount = #{buyAmount,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				`status` = #{status,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=INTEGER},
			</if>
			<if test="reason != null">
				reason = #{reason,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="sellAmount != null">
				sell_amount = #{sellAmount,jdbcType=DECIMAL},
			</if>
			<if test="expressCompany != null">
				express_company = #{expressCompany,jdbcType=VARCHAR},
			</if>
			<if test="expressNo != null">
				express_no = #{expressNo,jdbcType=VARCHAR},
			</if>
			<if test="sourceOrderId != null">
				source_order_id = #{sourceOrderId,jdbcType=VARCHAR},
			</if>
			<if test="fromOrderId != null">
				from_order_id = #{fromOrderId,jdbcType=VARCHAR},
			</if>
			<if test="toOrderId != null">
				to_order_id = #{toOrderId,jdbcType=VARCHAR},
			</if>
		</set>
		where code = #{orderNo,jdbcType=VARCHAR}
	</update>

	<select id="countAllOrderVoMap" parameterType="map" resultType="java.lang.Integer">

	</select>

	<select id="selectAllOrderVoMap" parameterType="map" resultType="com.hjgj.aiyoujin.core.model.vo.OrderVO">


	</select>

	<!-- TODO 统计买入订单数目 -->
	<select id="countBuyOrderVo" parameterType="com.hjgj.aiyoujin.core.model.vo.OrderRequestVo"
			resultType="java.lang.Integer">
		SELECT
		count(torder.id)
		FROM
		t_order AS torder
		LEFT JOIN t_product AS tprod ON torder.product_id = tprod.id
		LEFT JOIN t_user AS tuser ON tuser.id = torder.user_id
		WHERE
		torder.deleted = 0
		AND torder.`status` IN (0, 1, 2)
		<if test="startTime != null and endTime != null">
			AND torder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND torder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND tuser.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != ''">
			AND tprod.`name` = #{productName,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- TODO 买入订单 -->
	<select id="selectBuyOrderVo" parameterType="com.hjgj.aiyoujin.core.model.vo.OrderRequestVo"
			resultType="com.hjgj.aiyoujin.core.model.vo.OrderVO">
		SELECT
		tuser.nickname AS userNickName,
		tuser.open_id AS openId,
		torder.`code` AS orderNo,
		tprod.`code` AS productCode,
		tprod.`name` AS productName,
		torder.buy_amount AS buyAmount,
		torder.`status` AS orderStatus,
		torder.create_time AS createTime
		FROM
		t_order AS torder
		LEFT JOIN t_product AS tprod ON torder.product_id = tprod.id
		LEFT JOIN t_user AS tuser ON tuser.id = torder.user_id
		WHERE
		torder.deleted = 0
		AND torder.`status` IN (0, 1, 2)
		<if test="startTime != null and endTime != null">
			AND torder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND torder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND tuser.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != ''">
			AND tprod.`name` = #{productName,jdbcType=VARCHAR}
		</if>
		ORDER BY torder.create_time desc
	</select>

	<!-- TODO 统计礼物数目 -->
	<select id="countUserAllOrdersByUserId" resultType="java.lang.Integer">
		SELECT
			count(oneOrder.id)
		FROM
			t_order AS oneOrder
			LEFT JOIN t_order AS fromOrder ON oneOrder.from_order_id = fromOrder.id
			LEFT JOIN t_user AS oneUser ON oneOrder.user_id = oneUser.id
			LEFT JOIN t_user AS fromUser ON fromUser.id = fromOrder.user_id
			LEFT JOIN t_order AS toOrder ON toOrder.id = oneOrder.to_order_id
			LEFT JOIN t_user AS toUser ON toUser.id = toOrder.user_id
			LEFT JOIN t_product AS oneProd ON oneProd.id = oneOrder.product_id
			LEFT JOIN t_product_picture AS oneProdPic ON oneOrder.product_id = oneProdPic.product_id
		WHERE
			oneOrder.user_id = #{userId,jdbcType=VARCHAR}
			AND oneOrder.deleted = 0
		<if test="types == 1">
			AND oneOrder.status in (0,1,2,4,6,7,9,10,11)
		</if>
		<if test="types == 2">
			AND oneOrder.status = 5
		</if>
		<if test="types == 3">
			AND oneOrder.status = 8
		</if>
		<if test="types == 4">
			AND oneOrder.status = 12
		</if>
	</select>


	<!-- TODO 累计所有礼物 -->
	<select id="getUserAllOrdersByUserId" resultType="com.hjgj.aiyoujin.core.model.vo.OrderWebVo">
		SELECT
			oneOrder.id          AS orderId,
			oneOrder.`status`    AS orderStatus,
			oneOrder.user_id     AS userId,
			oneUser.nickname     AS userNickName,
			fromUser.nickname    AS fromNickName,
			toUser.nickname      AS toNickName,
			oneProd.id           AS productId,
			oneProd.`code`       AS productCode,
			oneProd.`name`       AS productName,
			oneOrder.buy_amount  AS buyAmount,
			oneOrder.reason      AS reason,
			oneOrder.create_time AS createTime,
			oneOrder.sell_amount AS sellAmount,
			oneProdPic.path      AS productImgUrl
		FROM
			t_order AS oneOrder
			LEFT JOIN t_order AS fromOrder ON oneOrder.from_order_id = fromOrder.id
			LEFT JOIN t_user AS oneUser ON oneOrder.user_id = oneUser.id
			LEFT JOIN t_user AS fromUser ON fromUser.id = fromOrder.user_id
			LEFT JOIN t_order AS toOrder ON toOrder.id = oneOrder.to_order_id
			LEFT JOIN t_user AS toUser ON toUser.id = toOrder.user_id
			LEFT JOIN t_product AS oneProd ON oneProd.id = oneOrder.product_id
			LEFT JOIN t_product_picture AS oneProdPic ON oneOrder.product_id = oneProdPic.product_id
		WHERE
			oneOrder.user_id = #{userId,jdbcType=VARCHAR}
			AND oneOrder.deleted = 0
		<if test="types == 1">
			AND oneOrder.status in (0,1,2,4,6,7,9,10,11)
		</if>
		<if test="types == 2">
			AND oneOrder.status = 5
		</if>
		<if test="types == 3">
			AND oneOrder.status = 8
		</if>
		<if test="types == 4">
			AND oneOrder.status = 12
		</if>
		order by oneOrder.create_time DESC
	</select>

	<!-- TODO 统计变现订单数目 -->
	<select id="countSellOrderVo" resultType="java.lang.Integer">
		SELECT
			count(torder.id)
		FROM
		t_order AS torder
		LEFT JOIN t_product AS tprod ON torder.product_id = tprod.id
		LEFT JOIN t_user AS tuser ON tuser.id = torder.user_id
		WHERE
		torder.deleted = 0
		AND torder.`status` IN (7, 8, 9)
		<if test="startTime != null and endTime != null">
			AND torder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND torder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND tuser.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != ''">
			AND tprod.`name` = #{productName,jdbcType=VARCHAR}
		</if>
		<if test="orderState != null and orderState != ''">
			AND torder.`status` = #{orderState,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- TODO 查询变现订单 -->
	<select id="selectSellOrderVo" resultType="com.hjgj.aiyoujin.core.model.vo.OrderVO">
		SELECT
			tuser.nickname AS userNickName,
			tuser.open_id AS openId,
			torder.`code` AS orderNo,
			tprod.`code` AS productCode,
			tprod.`name` AS productName,
			torder.buy_amount AS buyAmount,
			torder.`status` AS orderStatus,
			torder.sell_amount AS sellAmount,
			torder.create_time AS createTime
		FROM
		t_order AS torder
		LEFT JOIN t_product AS tprod ON torder.product_id = tprod.id
		LEFT JOIN t_user AS tuser ON tuser.id = torder.user_id
		WHERE
		torder.deleted = 0
		AND torder.`status` IN (7, 8, 9)
		<if test="startTime != null and endTime != null">
			AND torder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND torder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND tuser.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != ''">
			AND tprod.`name` = #{productName,jdbcType=VARCHAR}
		</if>
		<if test="orderState != null and orderState != ''">
			AND torder.`status` = #{orderState,jdbcType=VARCHAR}
		</if>
		ORDER BY torder.create_time desc
	</select>

	<!-- TODO 统计转送订单数目 -->
	<select id="countSendOrderVo" resultType="java.lang.Integer">
		SELECT
			count(selfOrder.id)
		FROM
		t_order AS selfOrder
		LEFT JOIN t_user AS selfUser ON selfOrder.user_id = selfUser.id
		LEFT JOIN t_order AS toOrder ON toOrder.source_order_id = selfOrder.id
		LEFT JOIN t_user AS toUser ON toOrder.user_id = toUser.id
		LEFT JOIN t_product AS selfProd ON selfOrder.product_id = selfProd.id
		WHERE
		selfOrder.deleted = 0
		AND selfOrder.`status` IN (3, 4, 5, 6)
		<if test="startTime != null and endTime != null">
			AND selfOrder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND selfOrder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND selfOrder.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != ''">
			AND selfOrder.`name` = #{productName,jdbcType=VARCHAR}
		</if>
		<if test="orderState != null and orderState != ''">
			AND selfOrder.`status` = #{orderState,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- TODO 查询转送订单 -->
	<select id="selectSendOrderVo" resultType="com.hjgj.aiyoujin.core.model.vo.OrderVO">
		SELECT
			selfOrder.id AS orderId,
			selfUser.nickname AS fromUserNickName,
			selfUser.open_id AS openId,
			selfOrder.`code` AS orderNo,
			selfOrder.buy_amount AS buyAmount,
			selfOrder.`status` AS orderStatus,
			selfOrder.create_time AS createTime,
			toOrder.create_time AS receiveTime,
			selfProd.`code` AS productCode,
			selfProd.`name` AS productName,
			toUser.nickname AS toUserNickName
		FROM
			t_order AS selfOrder
		LEFT JOIN t_user AS selfUser ON selfOrder.user_id = selfUser.id
		LEFT JOIN t_order AS toOrder ON toOrder.source_order_id = selfOrder.id
		LEFT JOIN t_user AS toUser ON toOrder.user_id = toUser.id
		LEFT JOIN t_product AS selfProd ON selfOrder.product_id = selfProd.id
		WHERE
			selfOrder.deleted = 0
			AND selfOrder.`status` IN (3, 4, 5, 6)
		<if test="startTime != null and endTime != null">
			AND selfOrder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND selfOrder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND selfOrder.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != ''">
			AND selfOrder.`name` = #{productName,jdbcType=VARCHAR}
		</if>
		<if test="orderState != null and orderState != ''">
			AND selfOrder.`status` = #{orderState,jdbcType=VARCHAR}
		</if>
		ORDER BY selfOrder.create_time desc
	</select>

	<!-- TODO 统计提货订单数目 -->
	<select id="countPickOrderVo" resultType="java.lang.Integer">
      	SELECT
			count(torder.id)
		FROM
		t_order AS torder
		LEFT JOIN t_product AS tprod ON torder.product_id = tprod.id
		LEFT JOIN t_user AS tuser ON tuser.id = torder.user_id
		WHERE
		torder.deleted = 0
		AND torder.`status` IN (10,11,12)
		<if test="startTime != null and endTime != null">
			AND torder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND torder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="orderState != null and orderState != ''">
			AND torder.`status` = #{orderState,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND tuser.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != ''">
			AND tprod.`name` = #{productName,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- TODO 查询提货订单 -->
	<select id="selectPickOrderVo" resultType="com.hjgj.aiyoujin.core.model.vo.OrderVO">
        SELECT
			tuser.nickname AS userNickName,
			tuser.open_id AS openId,
			torder.`code` AS orderNo,
			tprod.`code` AS productCode,
			tprod.`name` AS productName,
			torder.buy_amount AS buyAmount,
			torder.`status` AS orderStatus,
			torder.express_no AS expressNo,
            torder.express_company AS expressCompany,
            torder.express_fee AS expressFee,
            torder.update_time AS updateTime
		FROM
			t_order AS torder
			LEFT JOIN t_product AS tprod ON torder.product_id = tprod.id
			LEFT JOIN t_user AS tuser ON tuser.id = torder.user_id
		WHERE
			torder.deleted = 0
			AND torder.`status` IN (10, 11, 12)
		<if test="startTime != null and endTime != null">
			AND torder.create_time BETWEEN #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderNo != null and orderNo != ''">
			AND torder.`code` = #{orderNo,jdbcType=VARCHAR}
		</if>
        <if test="orderState != null and orderState != ''">
			AND torder.`status` = #{orderState,jdbcType=VARCHAR}
		</if>
		<if test="userName != null and userName != ''">
			AND tuser.nickname = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="productName != null and productName != '' ">
			AND tprod.`name` = #{productName,jdbcType=VARCHAR}
		</if>
		ORDER BY torder.create_time desc
	</select>

	<insert id="addExpressToOrder" parameterType="com.hjgj.aiyoujin.core.model.vo.OrderVO">
	    update t_order
		<trim prefix="set" suffixOverrides=",">
		 <if test="expressNo!=null and expressNo!=''">express_no=#{expressNo},</if>
		 <if test="expressCompany!=null and expressCompany!=''">express_company=#{expressCompany},</if>
		 <if test="expressFee!=null and expressFee!=''">express_fee=#{expressFee},</if>
		 status='11'
		</trim>
		WHERE code=#{orderId} and status ='10'
	</insert>
</mapper>