<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjgj.aiyoujin.core.dao.ProductCustomMapper">
  <select id="queryPageGoods" parameterType="java.lang.String" resultType="com.hjgj.aiyoujin.core.model.vo.ProductVo">
	 SELECT t.id id,t.`name` name,t.buy_price price,pic.path thumbPictures
	FROM t_product t 
	LEFT JOIN t_product_picture  pic on t.id=pic.product_id AND  pic.type=0
	where t.status=2
   </select>
   
     
  <select id="queryPageGoodsCount" parameterType="java.lang.String" resultType="java.lang.Integer">
	 SELECT count(t.id)
	FROM t_product t 
	LEFT JOIN t_product_picture  pic on t.id=pic.product_id AND  pic.type=0
	where t.status=2
   </select>
   
   <select id="queryGoodsDetail" parameterType="java.lang.String" resultType="com.hjgj.aiyoujin.core.model.vo.ProductVo">
   SELECT t.id id,t.`name` name,t.buy_price buyPrice,pic.imageUrls middlePictures
	FROM t_product t 
	LEFT JOIN 
   (SELECT GROUP_CONCAT(path ORDER BY sort_no ASC) imageUrls,
    product_id
    FROM t_product_picture 
    WHERE  type = 2 GROUP BY product_id) pic ON pic.product_id= t.id
    where t.id=#{id,jdbcType=VARCHAR}
   </select>
</mapper>