<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjgj.aiyoujin.core.dao.UserAddressMapper">
	<resultMap id="BaseResultMap" type="com.hjgj.aiyoujin.core.model.UserAddress">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="contact" property="contact" jdbcType="VARCHAR"/>
		<result column="telephone" property="telephone" jdbcType="VARCHAR"/>
		<result column="mail" property="mail" jdbcType="VARCHAR"/>
		<result column="area_id" property="areaId" jdbcType="VARCHAR"/>
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="post_code" property="postCode" jdbcType="VARCHAR"/>
		<result column="is_default" property="isDefault" jdbcType="INTEGER"/>
		<result column="deleted" property="deleted" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")"
											 separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")"
											 separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, user_id, contact, telephone, mail, area_id, address, post_code, is_default, deleted,
		create_time, update_time
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
			parameterType="com.hjgj.aiyoujin.core.model.UserAddressExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List"/>
		from t_user_address
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limitRows != null and limitRows>0">
			limit #{limitOffset} , #{limitRows}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List"/>
		from t_user_address
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM t_user_address
		WHERE id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.hjgj.aiyoujin.core.model.UserAddressExample">
		delete from t_user_address
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
	</delete>
	<insert id="insert" parameterType="com.hjgj.aiyoujin.core.model.UserAddress">
		INSERT INTO t_user_address (id, user_id, contact,
									telephone, mail, area_id,
									address, post_code, is_default,
									deleted, create_time, update_time
		)
		VALUES (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR},
										#{telephone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR},
										#{areaId,jdbcType=VARCHAR},
										#{address,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR},
										#{isDefault,jdbcType=INTEGER},
										#{deleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
				#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hjgj.aiyoujin.core.model.UserAddress">
		insert into t_user_address
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="mail != null">
				mail,
			</if>
			<if test="areaId != null">
				area_id,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="postCode != null">
				post_code,
			</if>
			<if test="isDefault != null">
				is_default,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="mail != null">
				#{mail,jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				#{areaId,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				#{postCode,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				#{isDefault,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.hjgj.aiyoujin.core.model.UserAddressExample"
			resultType="java.lang.Integer">
		select count(*) from t_user_address
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_user_address
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=VARCHAR},
			</if>
			<if test="record.contact != null">
				contact = #{record.contact,jdbcType=VARCHAR},
			</if>
			<if test="record.telephone != null">
				telephone = #{record.telephone,jdbcType=VARCHAR},
			</if>
			<if test="record.mail != null">
				mail = #{record.mail,jdbcType=VARCHAR},
			</if>
			<if test="record.areaId != null">
				area_id = #{record.areaId,jdbcType=VARCHAR},
			</if>
			<if test="record.address != null">
				address = #{record.address,jdbcType=VARCHAR},
			</if>
			<if test="record.postCode != null">
				post_code = #{record.postCode,jdbcType=VARCHAR},
			</if>
			<if test="record.isDefault != null">
				is_default = #{record.isDefault,jdbcType=INTEGER},
			</if>
			<if test="record.deleted != null">
				deleted = #{record.deleted,jdbcType=INTEGER},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause"/>
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_user_address
		set id = #{record.id,jdbcType=VARCHAR},
		user_id = #{record.userId,jdbcType=VARCHAR},
		contact = #{record.contact,jdbcType=VARCHAR},
		telephone = #{record.telephone,jdbcType=VARCHAR},
		mail = #{record.mail,jdbcType=VARCHAR},
		area_id = #{record.areaId,jdbcType=VARCHAR},
		address = #{record.address,jdbcType=VARCHAR},
		post_code = #{record.postCode,jdbcType=VARCHAR},
		is_default = #{record.isDefault,jdbcType=INTEGER},
		deleted = #{record.deleted,jdbcType=INTEGER},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		update_time = #{record.updateTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause"/>
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.hjgj.aiyoujin.core.model.UserAddress">
		update t_user_address
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				contact = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="mail != null">
				mail = #{mail,jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				area_id = #{areaId,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				post_code = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hjgj.aiyoujin.core.model.UserAddress">
		UPDATE t_user_address
		SET user_id     = #{userId,jdbcType=VARCHAR},
			contact     = #{contact,jdbcType=VARCHAR},
			telephone   = #{telephone,jdbcType=VARCHAR},
			mail        = #{mail,jdbcType=VARCHAR},
			area_id     = #{areaId,jdbcType=VARCHAR},
			address     = #{address,jdbcType=VARCHAR},
			post_code   = #{postCode,jdbcType=VARCHAR},
			is_default  = #{isDefault,jdbcType=INTEGER},
			deleted     = #{deleted,jdbcType=INTEGER},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectOneByExample" resultMap="BaseResultMap"
			parameterType="com.hjgj.aiyoujin.core.model.UserAddressExample">
		select
		<include refid="Base_Column_List"/>
		from t_user_address
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
		<if test="orderByClause != null">order by ${orderByClause}</if>
		limit 1
	</select>

	<select id="selectAddressListVO" parameterType="com.hjgj.aiyoujin.core.vo.AddressVo"
			resultType="com.hjgj.aiyoujin.core.model.vo.UserAddressVo">
		SELECT
		maddress.telephone AS telephone,
		maddress.is_default AS isDefault,
		maddress.address AS address,
		maddress.contact AS contact,
		maddress.create_time AS createTime,
		member.nickname AS userNickName,
		member.open_id AS openId
		FROM
		t_user_address AS maddress
		INNER JOIN t_user AS member ON maddress.user_id = member.id AND maddress.deleted = 0 AND member.deleted = 0
		WHERE 1=1
		<if test="contact != null and contact != ''">
			AND maddress.contact LIKE concat ('%',#{contact,jdbcType=VARCHAR},'%')
		</if>
		<if test="telephone != null and telephone != ''">
			AND maddress.telephone = #{telephone,jdbcType=VARCHAR}
		</if>
		<if test="userNickName != null and userNickName != ''">
			AND member.nickname LIKE concat ('%',#{userNickName,jdbcType=VARCHAR},'%')
		</if>
	</select>

	<select id="countAddressListVO" parameterType="com.hjgj.aiyoujin.core.vo.AddressVo" resultType="java.lang.Integer">
		SELECT
		count(DISTINCT maddress.id)
		FROM
		t_user_address AS maddress
		INNER JOIN t_user AS member ON maddress.user_id = member.id AND maddress.deleted = 0 AND member.deleted = 0
		WHERE 1=1
		<if test="contact != null and contact != ''">
			AND maddress.contact LIKE concat ('%',#{contact,jdbcType=VARCHAR},'%')
		</if>
		<if test="telephone != null and telephone != ''">
			AND maddress.telephone = #{telephone,jdbcType=VARCHAR}
		</if>
		<if test="userNickName != null and userNickName != ''">
			AND member.nickname LIKE concat ('%',#{userNickName,jdbcType=VARCHAR},'%')
		</if>
	</select>
</mapper>