<form id="infoForm" name="infoForm" class="layui-form regularInfo">
	<input type="hidden" name="id" th:value="${prod}?${prod.id}" />
	<div class="layui-form-item">
		<div class="layui-inline"></div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">		
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" id="name" name="name" th:value="${prod}?${prod.name}:''" class="layui-input" lay-verify="required" disabled=""/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">产品编号</label>
			<div class="layui-input-inline">
				<input type="text" id="code" name="code" th:value="${prod}?${prod.code}:''" class="layui-input" lay-verify="required|productCode" disabled=""/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">投向活期产品</label>
		<div class="layui-input-inline">
			<select name="targetId" lay-filter="targetId" disabled="">
				<option value="">请选择活期产品</option>
				<option th:each="item:${demandProducts}" th:value="${item.id}"
					th:text="${item.name}"
					th:selected="${prod}ne null and ${prod.targetId==item.id}"></option>
			</select>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">创建人</label>
			<div class="layui-input-inline">
				<input type="text" id="code" name="code" th:value="${prod}?${prod.createBy}:''" class="layui-input" lay-verify="required" disabled=""/>
			</div>
		</div>
	</div>
	
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品描述</label>
			<div class="layui-input-inline">
				<textarea placeholder="请输入产品描叙" class="layui-textarea" id="description" name="description" th:text="${prod}?${prod.descriptionStr}:''" style="width: 350px;" disabled=""></textarea>
			</div>
		</div>
	</div>
	
	<div class="layui-form-item">
    	<div class="layui-inline">
			<label class="layui-form-label">修改人</label>
			<div class="layui-input-inline">
				<input type="text" id="updateBy" name="updateBy" th:value="${prod}?${prod.updateBy}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<input type="text" id="updateTime" name="updateTime" th:value="${prod}?(${prod.updateTime}?${#dates.format(prod.updateTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>
    
	   <div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">上架时间</label>
			<div class="layui-input-inline">
				<input type="text" id="publishTime" name="publishTime" th:value="${prod}?(${prod.publishTime}?${#dates.format(prod.publishTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">开售时间</label>
			<div class="layui-input-inline">
				<input type="text" id="sellBeginTime" name="sellBeginTime" th:value="${prod}?(${prod.sellBeginTime}?${#dates.format(prod.sellBeginTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">停售时间</label>
			<div class="layui-input-inline">
				<input type="text" id="sellEndTime" name="sellEndTime" th:value="${prod}?(${prod.sellEndTime}?${#dates.format(prod.sellEndTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">下架时间</label>
			<div class="layui-input-inline">
				<input type="text" id="removeTime" name="removeTime" th:value="${prod}?(${prod.removeTime}?${#dates.format(prod.removeTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>
	
</form>
<style>
	.regularInfo .layui-form-label{width:140px;text-align: right;}
	.regularInfo .layui-input,.layui-textarea{border:none;background-color: #eee;}
</style>
<script>
	layui.use([ 'jquery', 'form', 'laydate' ], function() {
		var form = layui.form, layer = layui.layer, laydate = layui.laydate;
		form.render();
		//验证
 		form.verify({
 			productCode:function(value,item){  //value：表单的值、item：表单的DOM对象
 				var codeRegex = /^RP{1}[a-zA-Z0-9]+$/;
 				if(!codeRegex.test(value)){     //验证输入的产品编号是否合法
 					return '产品编号必须以RP前缀开头';
 				}
 			},
 			productWeight:function(value,item){   //验证输入的克重
 				if(!/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,4})?$/.test(value)){
 					return '输入的克重不正确（例：999、1888.8934）';
 				}
 			},
 			price:function(value,item){   //验证价格
 				if(!/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/.test(value)){
 					return '输入的价格不正确（例：100、99.99）';
 				}
 			},
 			productQuantity:function(value,item){ // 验证库存
 				if(!/^[0-9]*[1-9][0-9]*$/.test(value)){
 					return '库存必须为正整数';
 				}
 			}
 		});
		//监听提交
		form.on('submit(editForm)', function(data) {
			return true;
		});
	});
</script>
