<form class="layui-form viewPendingPlanDetail">
    <div class="layui-form-item">
        <div class="layui-inline">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">订单编号</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.orderNo}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.userName}">
            </div>
        </div>
    </div>
     <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">计划编号</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.planCode}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">成交金额</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.amount}">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">成交价格</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.price}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">成交克重</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.weight}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">执行结果</label>
             <div class="layui-input-inline" th:switch="${vo.status}">
				<input type="text" name="" class="layui-input" disabled="" th:case="0" value="执行成功"/>
				<input type="text" name="" class="layui-input" disabled="" th:case="1" value="执行失败"/>
				<input type="text" name="" class="layui-input" disabled="" th:case="*" value="未知执行状态"/>
			</div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">修改时间</label>
            <div class="layui-input-inline">
                <input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" disabled="" th:value="${vo.remark}">
            </div>
        </div>
    </div>
</form>
<style>
    .viewPendingPlanDetail .layui-form-label{text-align: right;}
    .viewPendingPlanDetail input{border:none;background-color: #eee;}
</style>