<form id="editForm" name="editForm" class="layui-form recycleEdit"  action="/product/recycle/recycleProductEdit.html">
	<input type="hidden" name="id"  th:value="${mcp}?${mcp.product.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">		
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">		
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" id="name" name="name" th:value="${mcp}?${mcp.product.name}:''" class="layui-input" lay-verify="required" placeholder="请输入产品名称"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">产品编号</label>
			<div class="layui-input-inline">
				<input type="text" id="code" name="code" th:value="${mcp}?${mcp.product.code}:''" class="layui-input" lay-verify="required|productCode" placeholder="请输入产品编号"/>
			</div>
		</div>
	</div>
    
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品版本号</label>
			<div class="layui-input-inline">
				<input type="text" id="version" name="version" th:value="${mcp}?${mcp.recycleProduct.version}:''" class="layui-input" lay-verify="required" placeholder="请输入产品版本号"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">起存克重</label>
			<div class="layui-input-inline">
				<input type="text" id="minWeight" name="minWeight" th:value="${mcp}?${mcp.recycleProduct.minWeight}:''" class="layui-input" lay-verify="required|productWeight" placeholder="请输入起存克重"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">标准损耗克重</label>
			<div class="layui-input-inline">
				<input type="text" id="lossWeight" name="lossWeight" th:value="${mcp}?${mcp.recycleProduct.lossWeight}:''" class="layui-input" lay-verify="required|productWeight" placeholder="请输入产品标准损耗克重"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">标准金价折扣</label>
			<div class="layui-input-inline">
				<input type="text" id="discountPrice" name="discountPrice" th:value="${mcp}?${mcp.recycleProduct.discountPrice}:''" class="layui-input" lay-verify="required" placeholder="请输入标准金价折扣"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">标准物流费</label>
			<div class="layui-input-inline">
				<input type="text" id="expressFee" name="expressFee" th:value="${mcp}?${mcp.recycleProduct.expressFee}:''" class="layui-input" lay-verify="required|price" placeholder="请输入标准物流费"/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">标准检测费</label>
			<div class="layui-input-inline">
				<input type="text" id="certificateFee" name="certificateFee" th:value="${mcp}?${mcp.recycleProduct.certificateFee}:''" class="layui-input" lay-verify="required|price" placeholder="请输入标准检测费"/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">标准保险费</label>
			<div class="layui-input-inline">
				<input type="text" id="insuranceFee" name="insuranceFee" th:value="${mcp}?${mcp.recycleProduct.insuranceFee}:''" class="layui-input" lay-verify="required|price" placeholder="请输入标准保险费"/>
			</div>
		</div>
		
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品描叙</label>
			<div class="layui-input-inline">
				<!--<input type="text" id="insuranceFee" name="insuranceFee" th:value="${mcp}?${mcp.recycleProduct.insuranceFee}:''" class="layui-input" lay-verify="required" placeholder="请输入标准保险费"/>-->
				<textarea placeholder="请输入产品描叙" class="layui-textarea" iid="description" name="description" th:text="${mcp}?${mcp.descriptionStr}:''" style="width: 513px;"></textarea>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="editForm">保存</button>
		    </div>
		</div>
	</div>
</form>
<style>
	.recycleEdit .layui-form-label{width:140px;text-align: right;}
</style>
<script>
      layui.use(['jquery','form', 'laydate'], function(){
   	   var form = layui.form
   	   ,layer = layui.layer
   	   ,laydate = layui.laydate;
   	   //日期
   	   laydate.render({
   	     elem: '#publishTime',
		 type: 'datetime'
   	   });
          laydate.render({
              elem: '#sellBeginTime',
              type: 'datetime'
          });
          laydate.render({
              elem: '#sellEndTime',
              type: 'datetime'
          });
          laydate.render({
              elem: '#removeTime',
              type: 'datetime'
          });
          
  		//验证
  		form.verify({
  			productCode:function(value,item){  //value：表单的值、item：表单的DOM对象
  				var codeRegex = /^CP{1}[a-zA-Z0-9]+$/;
  				if(!codeRegex.test(value)){     //验证输入的产品编号是否合法
  					return '产品编号必须以CP前缀开头';
  				}
  			},
  			productWeight:function(value,item){   //验证输入的克重
  				if(!/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,4})?$/.test(value)){
  					return '输入的克重不正确（例：999、1888.8934）';
  				}
  			},
  			price:function(value,item){   //验证价格
  				if(!/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/.test(value)){
  					return '输入的价格不正确（例：100、99.99）';
  				}
  			},
  			productQuantity:function(value,item){ // 验证库存
  				if(!/^[0-9]*[1-9][0-9]*$/.test(value)){
  					return '库存必须为正整数';
  				}
  			}
  		});
  		
   	   //监听提交
   	   form.on('submit(editForm)', function(data){
   	     return true;
   	   });
   	});
</script>
