<form id="infoForm" name="infoForm" class="layui-form recycleInfo">
	<input type="hidden" name="id"  th:value="${mcp}?${mcp.product.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">		
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">		
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" id="name" name="name" th:value="${mcp}?${mcp.product.name}:''" class="layui-input" lay-verify="required" readonly="" />
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">产品编号</label>
			<div class="layui-input-inline">
				<input type="text" id="code" name="code" th:value="${mcp}?${mcp.product.code}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>
    
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品版本号</label>
			<div class="layui-input-inline">
				<input type="text" id="version" name="version" th:value="${mcp}?${mcp.recycleProduct.version}:''" class="layui-input" lay-verify="required"  readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">起存克重</label>
			<div class="layui-input-inline">
				<input type="text" id="minWeight" name="minWeight" th:value="${mcp}?${mcp.recycleProduct.minWeight}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>
    
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">标准损耗克重</label>
			<div class="layui-input-inline">
				<input type="text" id="lossWeight" name="lossWeight" th:value="${mcp}?${mcp.recycleProduct.lossWeight}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">标准金价折扣</label>
			<div class="layui-input-inline">
				<input type="text" id="discountPrice" name="discountPrice" th:value="${mcp}?${mcp.recycleProduct.discountPrice}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">标准物流费</label>
			<div class="layui-input-inline">
				<input type="text" id="expressFee" name="expressFee" th:value="${mcp}?${mcp.recycleProduct.expressFee}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">标准检测费</label>
			<div class="layui-input-inline">
				<input type="text" id="certificateFee" name="certificateFee" th:value="${mcp}?${mcp.recycleProduct.certificateFee}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">标准保险费</label>
			<div class="layui-input-inline">
				<input type="text" id="insuranceFee" name="insuranceFee" th:value="${mcp}?${mcp.recycleProduct.insuranceFee}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label"></label>
			<div class="layui-input-inline">
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品描叙</label>
			<div class="layui-input-inline">
				<textarea placeholder="请输入产品描叙" class="layui-textarea" id="description" name="description" th:text="${mcp}?${mcp.descriptionStr}:''" readonly="" style="width: 513px;"></textarea>
			</div>
		</div>
	</div>
	    <div class="layui-form-item">
    	<div class="layui-inline">
			<label class="layui-form-label">修改人</label>
			<div class="layui-input-inline">
				<input type="text" id="updateBy" name="updateBy" th:value="${mcp}?${mcp.product.updateBy}:''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<input type="text" id="updateTime" name="updateTime" th:value="${mcp}?(${mcp.product.updateTime}?${#dates.format(mcp.product.updateTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>
    
	   <div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">上架时间</label>
			<div class="layui-input-inline">
				<input type="text" id="publishTime" name="publishTime" th:value="${mcp}?(${mcp.product.publishTime}?${#dates.format(mcp.product.publishTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">开售时间</label>
			<div class="layui-input-inline">
				<input type="text" id="sellBeginTime" name="sellBeginTime" th:value="${mcp}?(${mcp.product.sellBeginTime}?${#dates.format(mcp.product.sellBeginTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">停售时间</label>
			<div class="layui-input-inline">
				<input type="text" id="sellEndTime" name="sellEndTime" th:value="${mcp}?(${mcp.product.sellEndTime}?${#dates.format(mcp.product.sellEndTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">下架时间</label>
			<div class="layui-input-inline">
				<input type="text" id="removeTime" name="removeTime" th:value="${mcp}?(${mcp.product.removeTime}?${#dates.format(mcp.product.removeTime,'yyyy-MM-dd HH:mm:ss')}:''):''" class="layui-input" lay-verify="required" readonly=""/>
			</div>
		</div>
	</div>

</form>
<style>
	.recycleInfo .layui-form-label{width:140px;text-align: right;}
	.recycleInfo .layui-input,.recycleInfo .layui-textarea{border:none;background-color: #eee;}
</style>
<script>
    //   layui.use(['jquery','form', 'laydate'], function(){
   	//    var form = layui.form
   	//    ,layer = layui.layer
   	//    ,laydate = layui.laydate;
   	   
   	// });
</script>
