<form id="editForm" name="editForm" class="layui-form"  action="/order/physical/sendGoods.html">
	<input type="hidden" name="id"  th:value="${vo}?${vo.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
		<div class="layui-inline">
			<label class="layui-form-label">用户</label>
			<div class="layui-input-inline">
				<input type="text" name="expressCompany"  class="layui-input" disabled="" th:value="${vo.userName}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">姓名</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.name}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">订单编号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${vo.code}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.productName}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">数量</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.quantity}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">总克重</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.weight}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">实时金价</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.price}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">总金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.amount}"/>
			</div>
		</div>
		<!-- <div class="layui-inline">
			<label class="layui-form-label">证件照</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.userName}"/>
			</div>
		</div> -->
		<div class="layui-inline">
			<label class="layui-form-label">工费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.labourFeeAmount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">快递费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.expressFeeAmount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">证书费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.certificateFeeAmount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">保险费</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.insuranceFeeAmount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">余额支付金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.balancePayAmount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">现金支付金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.instancePayAmount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">优惠券抵扣金额</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.couponsPayAmount}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">发票ID</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.invoiceCode}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-inline" th:switch="${vo.status}">
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="0" value="待审核(付款成功)"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="1" value="待发货"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="2" value="付款失败"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="3" value="已发货"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="4" value="已签收"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="5" value="已取消"/>
				<input type="text" name="expressNo" class="layui-input" disabled="" th:case="*" value="未知订单类型"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">快递公司</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.expressCompany}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">快递单号</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.expressNo}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-inline">
				<th:block th:if="${not #strings.isEmpty(vo.updateTime)}">
			 		<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.updateTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                </th:block>
                <th:block th:if="${#strings.isEmpty(vo.updateTime)}">
			 		<input type="text" value="" class="layui-input" disabled="">
                </th:block>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-inline">
				<th:block th:if="${not #strings.isEmpty(vo.createTime)}">
			 		<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.createTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                </th:block>
                <th:block th:if="${#strings.isEmpty(vo.createTime)}">
			 		<input type="text" value="" class="layui-input" disabled="">
                </th:block>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">审核人</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.auditBy}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">审核时间</label>
			<div class="layui-input-inline">
				<th:block th:if="${not #strings.isEmpty(vo.auditTime)}">
			 		<input type="text" name="expressNo" class="layui-input" disabled="" th:value="${#dates.format(vo.auditTime, 'yyyy-MM-dd HH:mm:ss')}"/>
                </th:block>
                <th:block th:if="${#strings.isEmpty(vo.auditTime)}">
			 		<input type="text" value="" class="layui-input" disabled="">
                </th:block>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">审核说明</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.auditRemark}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-inline">
				<input type="text" name="expressNo" class="layui-input" disabled=""   th:value="${vo.remark}"/>
			</div>
		</div>
</form>
<style>
	#editForm .layui-inline{
		margin-bottom:10px;
	}
	#editForm .layui-form-label{
		width:120px;
	}
</style>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,button = layui.button;

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});
	});
</script>
