<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
         <!-- 打印查询语句 -->
        <!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
        <!-- resultType=map时 返回为空的字段名 -->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <plugins>
        <plugin interceptor="com.hjgj.aiyoujin.admin.common.interceptor.MybatisSpringPageInterceptor"/>
        <!--<plugin interceptor="com.hjgj.common.SqlCostInterceptor"/>-->
    </plugins>
    
</configuration>