<form id="editForm" name="editForm" class="layui-form"  action="/order/tradeCalendar/addOrEdit.html">
	<input type="hidden" name="id"  th:value="${vo}?${vo.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">日历类型</label>
			<div class="layui-input-block">
				<input type="radio" name="type" th:checked="${vo}?${vo.type == 1}:false"  value="1" title="按星期" lay-filter="weekType"/>
				<input type="radio" name="type" th:checked="${vo}?${vo.type == 2}:false"  value="2" title="按日期" lay-filter="weekType"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item" id="wStart" >
		<div class="layui-inline">
			<label class="layui-form-label">开始周</label>
			<div class="layui-input-inline">
				<select name="startWeekDay" lay-search="">
                    <option value="">无</option>
                    <option value="1" th:selected="${vo.startWeekDay == 1}">周一</option>
                    <option value="2" th:selected="${vo.startWeekDay == 2}">周二</option>
                    <option value="3" th:selected="${vo.startWeekDay == 3}">周三</option>
                    <option value="4" th:selected="${vo.startWeekDay == 4}">周四</option>
                    <option value="5" th:selected="${vo.startWeekDay == 5}">周五</option>
                    <option value="6" th:selected="${vo.startWeekDay == 6}">周六</option>
                    <option value="7" th:selected="${vo.startWeekDay == 7}">周日</option>
                </select>
			</div>
		</div>
	</div>
	<div class="layui-form-item" id="wEnd" >
		<div class="layui-inline">
			<label class="layui-form-label">结束周</label>
			<div class="layui-input-inline">
				<select name="endWeekDay" lay-search="">
                    <option value="">无</option>
                    <option value="1" th:selected="${vo.endWeekDay == 1}">周一</option>
                    <option value="2" th:selected="${vo.endWeekDay == 2}">周二</option>
                    <option value="3" th:selected="${vo.endWeekDay == 3}">周三</option>
                    <option value="4" th:selected="${vo.endWeekDay == 4}">周四</option>
                    <option value="5" th:selected="${vo.endWeekDay == 5}">周五</option>
                    <option value="6" th:selected="${vo.endWeekDay == 6}">周六</option>
                    <option value="7" th:selected="${vo.endWeekDay == 7}">周日</option>
                </select>
			</div>
		</div>
	</div>
	<div class="layui-form-item" id="dStart" style="display: none">
		<div class="layui-inline">
			<label class="layui-form-label">开始日期</label>
			<div class="layui-input-inline">
				<input type="text" name="startDate" id="startDate" th:value="${vo}?(${vo.startDate}?${#dates.format(vo.startDate,'yyyy-MM-dd')}:''):''" class="layui-input" readonly="readonly"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item" id="dEnd" style="display: none">
		<div class="layui-inline">
			<label class="layui-form-label">结束日期</label>
			<div class="layui-input-inline">
				<input type="text" name="endDate" id="endDate" th:value="${vo}?(${vo.endDate}?${#dates.format(vo.endDate,'yyyy-MM-dd')}:''):''" class="layui-input" readonly="readonly"/>
			</div>
		</div>
	</div>
	
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">开始时间</label>
			<div class="layui-input-inline">
				<input type="text" name="sTime" id="startTime" th:value="${vo}?(${vo.startTime}?${#dates.format(vo.startTime,'HH:mm:ss')}:''):''" class="layui-input" readonly="readonly"/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">结束时间</label>
			<div class="layui-input-inline">
				<input type="text" name="eTime" id="endTime" th:value="${vo}?(${vo.endTime}?${#dates.format(vo.endTime,'HH:mm:ss')}:''):''" class="layui-input" readonly="readonly"/>
			</div>
		</div>
	</div>	
	<div class="layui-form-item">
		<label class="layui-form-label">涉及业务</label>
		<!-- <div class="layui-input-block">
	      <input name="like1[write]" lay-skin="primary" title="写作" checked="" type="checkbox">
	      <input name="like1[read]" lay-skin="primary" title="阅读" type="checkbox">
	      <input name="like1[game]" lay-skin="primary" title="游戏" disabled="" type="checkbox">
	    </div> -->
		 <div class="layui-input-block">
			<input type="checkbox" name="bizTypes" value="DBUY" th:checked="${vo}?${vo.bizTypes == 'DBUY'}:false"  title="活期买入" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="DSELL" th:checked="${vo}?${vo.bizTypes == 'DSELL'}:false" title="活期卖出" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="REGULAR" th:checked="${vo}?${vo.bizTypes == 'REGULAR'}:false" title="定投" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="RECYCLE" th:checked="${vo}?${vo.bizTypes == 'RECYCLE'}:false" title="存金" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="PHYSICAL" th:checked="${vo}?${vo.bizTypes == 'PHYSICAL'}:false" title="提金" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="FIXED" th:checked="${vo}?${vo.bizTypes == 'FIXED'}:false" title="定期" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="INCOME" th:checked="${vo}?${vo.bizTypes == 'INCOME'}:false" title="生息" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="AWARD" th:checked="${vo}?${vo.bizTypes == 'AWARD'}:false" title="赠金" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="FIXED" th:checked="${vo}?${vo.bizTypes == 'FIXED'}:false" title="挂单" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="PENDBUY" th:checked="${vo}?${vo.bizTypes == 'PENDBUY'}:false" title="挂单买" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="PENDSELL" th:checked="${vo}?${vo.bizTypes == 'PENDSELL'}:false" title="挂单卖" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="RECHARGE" th:checked="${vo}?${vo.bizTypes == 'RECHARGE'}:false" title="充值" lay-filter="test"/>
			<input type="checkbox" name="bizTypes"  value="WITHDRAW" th:checked="${vo}?${vo.bizTypes == 'WITHDRAW'}:false" title="提现" lay-filter="test"/>
			
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-block">
			<textarea placeholder="备注" class="layui-textarea" id="remark" name="remark"
					th:text="${vo}?${vo.remark}:''" style="width: 513px;"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="draftForm">保存</button>
			</div>
		</div>
	</div>
</form>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,table = layui.table
				,button = layui.button;
				form.render();

				form.on('radio(weekType)', function(data){
					if(data.value == 1){//按星期
						$("#wStart,#wEnd").css({'display': 'block'});
			            $("#dStart,#dEnd").css({'display': 'none'});
				    } else if(data.value == 2){//按日期
				    	$("#dStart,#dEnd").css({'display': 'block'});
			            $("#wStart,#wEnd").css({'display': 'none'});
				    }
				});  
	
		//监听草稿提交
		form.on('submit(draftForm)', function(data){
			$("#status").val(0);
			return true;
		});

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});

		//监听单元格编辑
		table.on('edit(test3)', function(obj){
			var value = obj.value //得到修改后的值
					,data = obj.data //得到所在行所有键值
					,field = obj.field; //得到字段
			layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
		});
	});

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#startDate' //指定元素
            , type: 'date'
            , format: 'yyyy-MM-dd' //可任意组合
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#endDate' //指定元素
            , type: 'date'
            , format: 'yyyy-MM-dd' //可任意组合
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#startTime' //指定元素
            , type: 'time'
            , format: 'HH:mm:ss' //可任意组合
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#endTime' //指定元素
            , type: 'time'
            , max: 1    
            , format: 'HH:mm:ss' //可任意组合
        });
    });

</script>
