<form id="editForm" name="editForm" class="layui-form"  action="/product/physical/productPhysicalStatus.html">
	<input type="hidden" name="id"  th:value="${mcp}?${mcp.id}"/>
	<input type="hidden" name="status"  value="2"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">开售时间</label>
			<div class="layui-input-inline">
				<input class="layui-input" name="sellBeginTime" id="sellBeginTime" placeholder="yyyy-MM-dd HH:mm:ss" type="text" />
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="editForm">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
<script>
	layui.use(['form', 'laydate'], function(){
		var form = layui.form
				,laydate = layui.laydate;
		//时间选择器
		laydate.render({
			elem: '#sellBeginTime'
			,type: 'datetime'
		});

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});
	});
</script>
