<form id="editForm" name="editForm" class="layui-form physicalInfo">
	<input type="hidden" id="status" value="1" name="status"/>
	<input type="hidden" name="id"  th:value="${mcp}?${mcp.id}"/>
	<div class="layui-form-item">
		<div class="layui-inline">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品编号</label>
			<div class="layui-input-inline">
				<input type="text" name="code" th:value="${mcp}?${mcp.code}:''" class="layui-input" lay-verify="required|productCode" placeholder="产品编号PP开头" id="code" disabled="" />
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品名称</label>
			<div class="layui-input-inline">
				<input type="text" name="name" th:value="${mcp}?${mcp.name}:''" class="layui-input" lay-verify="required" id="name" placeholder="请输入产品名称" disabled=""/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">品牌</label>
			<div class="layui-input-inline">
				<input type="text" name="brand" th:value="${mcp}?${mcp.brand}:''" class="layui-input" lay-verify="required" id="brand" placeholder="请输入产品品牌" disabled=""/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">纯度</label>
			<div class="layui-input-inline">
				<input type="text" name="fineness" th:value="${mcp}?${mcp.fineness}:''" class="layui-input" lay-verify="required" id="fineness" placeholder="纯度（99.9、99.95、99.99）" disabled=""/>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">产品分类</label>
		<div class="layui-input-block">
			<input type="radio" name="category" th:checked="${mcp}?${mcp.category == 1}:false"  value="1" title="投资金条" lay-filter="test"  disabled=""/>
			<input type="radio" name="category" th:checked="${mcp}?${mcp.category == 2}:false"  value="2" title="投资金币" lay-filter="test"  disabled=""/>
			<input type="radio" name="category" th:checked="${mcp}?${mcp.category == 3}:false" value="3" title="饰品项链" lay-filter="test"  disabled=""/>
			<input type="radio" name="category" th:checked="${mcp}?${mcp.category == 4}:false"  value="4" title="饰品吊坠" lay-filter="test"  disabled=""/>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">计价方式</label>
		<div class="layui-input-block">
			<input type="radio" name="priceMode" th:checked="${mcp}?${mcp.priceMode == 0}:false" value="0" title="实时金价按克"  disabled=""/>
			<input type="radio" name="priceMode" th:checked="${mcp}?${mcp.priceMode == 1}:false" value="1" title="一口价按件"  disabled=""/>
		</div>
	</div>
	<div class="layui-form-item" style="margin-left:20px;margin-right:20px;">
		<table class="list-table">
			<thead>
			<tr>
				<th>尺寸</th>
				<th>克重</th>
				<th>价格</th>
				<th>库存</th>
				<th>工费（元/克）</th>
				<th>证书费</th>
				<th>物流费</th>
				<th>保险费</th>
			</tr>
			</thead>
			<tbody>
			<th:block th:if="${not #lists.isEmpty(physicals)}">
				<tr class="add_tr" th:each="physical,physicalStat:${physicals}">
					<form class="layui-form">
						<td style="display:none;"><input th:name="'physicals['+${physicalStat.index}+'].id'" type="hidden" th:value="${physical.id}" value="" class="id" disabled=""/></td>
						<td style="display:none;"><input th:name="'physicals['+${physicalStat.index}+'].deleted'" type="hidden" th:value="${physical.deleted}" value="" class="deleted" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].size'" type="text" th:value="${physical.size}" value="" placeholder="尺寸" lay-verify="required" class="layui-input size" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].weight'" type="text" th:value="${physical.weight}" value="" placeholder="克重" lay-verify="required|productWeight" class="layui-input weight" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].price'" type="text" th:value="${physical.price}" value="" placeholder="价格" lay-verify="required|price" class="layui-input price" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].quantity'" type="text" th:value="${physical.quantity}" value="" placeholder="库存" lay-verify="required|productQuantity" class="layui-input quantity" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].labourFee'" type="text" th:value="${physical.labourFee}" value="" placeholder="工费" lay-verify="required|price" class="layui-input labourFee" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].certificateFee'" type="text" th:value="${physical.certificateFee}" value="" placeholder="证书费" lay-verify="required|price" class="layui-input certificateFee" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].expressFee'" type="text" th:value="${physical.expressFee}" value="" placeholder="物流费" lay-verify="required|price" class="layui-input expressFee" disabled=""/></td>
						<td><input th:name="'physicals['+${physicalStat.index}+'].insuranceFee'" type="text" th:value="${physical.insuranceFee}" value="" placeholder="保险费" lay-verify="required|price" class="layui-input insuranceFee" disabled=""/></td>
					</form>
				</tr>
			</th:block>
			</tbody>
		</table>
		</div>
</form>
<style>
	.physicalInfo .layui-input{border:none;background-color: #eee;}
</style>
<script>
	layui.use(['jquery','form', 'laydate','table'], function(){
		var form = layui.form
				,layer = layui.layer
				,laydate = layui.laydate
				,table = layui.table
				,button = layui.button;
				form.render();
		//验证
		form.verify({
			productCode:function(value,item){  //value：表单的值、item：表单的DOM对象
				var codeRegex = /^PP{1}[a-zA-Z0-9]+$/;
				if(!codeRegex.test(value)){     //验证输入的产品编号是否合法
					return '产品编号必须以PP前缀开头';
				}
			},
			productWeight:function(value,item){   //验证输入的克重
				if(!/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,4})?$/.test(value)){
					return '输入的克重不正确（例：999、1888.8934）';
				}
			},
			price:function(value,item){   //验证价格
				if(!/^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/.test(value)){
					return '输入的价格不正确（例：100、99.99）';
				}
			},
			productQuantity:function(value,item){ // 验证库存
				if(!/^[0-9]*[1-9][0-9]*$/.test(value)){
					return '库存必须为正整数';
				}
			}
		});

		form.on('filter(test)', function(data){
              console.log(11111);
         });
		//监听草稿提交
		form.on('submit(draftForm)', function(data){
			$("#status").val(0);
			return true;
		});

		//监听提交
		form.on('submit(editForm)', function(data){
			return true;
		});

		//监听单元格编辑
		table.on('edit(test3)', function(obj){
			var value = obj.value //得到修改后的值
					,data = obj.data //得到所在行所有键值
					,field = obj.field; //得到字段
			layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
		});
		//点击添加
		$('.add_btn').on('click',function(){
			var index = $('.list-table tbody tr').length;
			var add_tr = ['<tr class="add_tr">',
							'<form class="layui-form" >',
							    '<td style="display:none;"><input name="physicals['+index+'].id" type="hidden" value="" class="id"/></td>',
								'<td style="display:none;"><input name="physicals['+index+'].deleted" type="hidden" value="0" class="deleted"/></td>',
								'<td><input name="physicals['+index+'].size" type="text" value="" placeholder="尺寸" lay-verify="required" class="layui-input size" /></td>',
								'<td><input name="physicals['+index+'].weight" type="text" value="" placeholder="克重" lay-verify="required|productWeight" class="layui-input weight" /></td>',
								'<td><input name="physicals['+index+'].price" type="text" value="" placeholder="价格" lay-verify="required|price" class="layui-input price" /></td>',
								'<td><input name="physicals['+index+'].quantity" type="text" value="" placeholder="库存" lay-verify="required|productQuantity" class="layui-input quantity" /></td>',
								'<td><input name="physicals['+index+'].labourFee" type="text" value="" placeholder="工费" lay-verify="required|price" class="layui-input labourFee" /></td>',
								'<td><input name="physicals['+index+'].certificateFee" type="text" value="" placeholder="物流费" lay-verify="required|price" class="layui-input certificateFee" /></td>',
								'<td><input name="physicals['+index+'].expressFee" type="text" value="" placeholder="工本费" lay-verify="required|price" class="layui-input expressFee" /></td>',
								'<td><input name="physicals['+index+'].insuranceFee" type="text" value="" placeholder="保险费" lay-verify="required|price" class="layui-input insuranceFee" /></td>',
								'<td style="text-align: center;">',
									'<a class="layui-btn layui-btn-small layui-btn-danger del_btn" link-id="3" onclick="delFun(this);" title="删除" link-name="23"><i class="layui-icon"></i></a>',
								'</td>',
							'</form>',
				   	      '</tr>'];

			$('.list-table tbody').append(add_tr.join(''));
		});
	});
	layui.use('upload', function(){
		var $ = layui.jquery
				,upload = layui.upload;


		//普通图片上传
		var uploadInst = upload.render({
			elem: '#test1'
			,multiple: true
			,auto:false
			,bindAction: '#confirm'
			,url: 'addOrEdit.html'
			,before: function(obj){
				//预读本地文件示例，不支持ie8
				obj.preview(function(index, file, result){
					$('#demo1').attr('src', result); //图片链接（base64）
				});
			}
			/*,done: function(res){
				//如果上传失败
				if(res.code > 0){
					return layer.msg('上传失败');
				}
				//上传成功
			}
			,error: function(){
				//演示失败状态，并实现重传
				var demoText = $('#demoText');
				demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
				demoText.find('.demo-reload').on('click', function(){
					uploadInst.upload();
				});
			}*/
		});
	});

	function delFun(_this){
		var tr = $(_this).parent().parent();
		var id = $(tr).children().children(".id");
		if(id.attr("value")) {
			tr.hide();
			$(tr).children().children(".deleted").attr("value",1);
		}else {
			tr.remove();
			var arr = $(".list-table tbody tr");
		}

		$.each(arr,function(i,obj){
			var id = $(obj).children().children('.id');
			var deleted = $(obj).children().children('.deleted');
			var size = $(obj).children().children('.size');
			var weight = $(obj).children().children('.weight');
			var price = $(obj).children().children('.price');
			var quantity = $(obj).children().children('.quantity');
			var labourFee = $(obj).children().children('.labourFee');
			var certificateFee = $(obj).children().children('.certificateFee');
			var expressFee = $(obj).children().children('.expressFee');
			var insuranceFee = $(obj).children().children('.insuranceFee');
			id.attr('name','physicals['+i+'].id');
			deleted.attr('name','physicals['+i+'].deleted');
			size.attr('name','physicals['+i+'].size');
			weight.attr('name','physicals['+i+'].weight');
			price.attr('name','physicals['+i+'].price');
			quantity.attr('name','physicals['+i+'].quantity');
			labourFee.attr('name','physicals['+i+'].labourFee');
			certificateFee.attr('name','physicals['+i+'].certificateFee');
			expressFee.attr('name','physicals['+i+'].expressFee');
			insuranceFee.attr('name','physicals['+i+'].insuranceFee');
		});
	}
</script>
